
h1 {color:lightseagreen}
img {width: 400px; max-width: 100%;}
body {background-color: peachpuff;}
div {background-color: palevioletred;}
h1 {font-size: 300%;}
.fancy {color: coral;}
h1 {text-align: center;}
div {border:2px double rgb(108, 21, 108)}